.download {
    height: 27px;
    left: 20px;
    position: relative;
    top: 20px;
    width: 84px;
}

.download .text-wrapper {
    color: #ffffff;
    font-family: "League Spartan-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    height: 27px;
    left: 0;
    letter-spacing: 0;
    line-height: 27px;
    position: absolute;
    text-align: center;
    top: -1px;
    white-space: nowrap;
}

.download:hover {
    top: 67px;
}

.download:hover .text-wrapper {
    font-family: "League Spartan-ExtraBold", Helvetica;
    font-weight: 800;
    left: -2px;
    text-decoration: underline;
}
