.home-page {
    background-color: #e5e5e5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.home-page .div-2 {
    background-color: #e5e5e5;
    height: 7797px;
    overflow: hidden;
    position: relative;
    width: 1440px;
}

.home-page .footer {
    background-color: transparent;
    height: 709px;
    left: -5px;
    position: absolute;
    top: 7090px;
    width: 1445px;
}

.home-page .overlap {
    background-image: url(../assets/background-2.png);
    background-size: 100% 100%;
    height: 707px;
    left: 5px;
    position: relative;
    width: 1440px;
}

.home-page .copyright {
    height: 75px;
    left: 4px;
    position: absolute;
    top: 630px;
    width: 1433px;
}

.home-page .line {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: -1px;
    width: 1433px;
}

.home-page .copyright-a-EYE-wrapper {
    height: 56px;
    left: 270px;
    position: absolute;
    top: 20px;
    width: 892px;
}

.home-page .copyright-a-EYE {
    color: #ffffff;
    font-family: "Krub-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: -261px;
    letter-spacing: 0;
    line-height: 40px;
    position: absolute;
    top: -7px;
    white-space: nowrap;
}

.home-page .span {
    color: #ffffff;
    font-family: "Krub-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 40px;
}

.home-page .content {
    height: 525px;
    left: 58px;
    position: absolute;
    top: 45px;
    width: 807px;
}

.home-page .content-2 {
    height: 404px;
    left: 427px;
    position: absolute;
    top: 57px;
    width: 380px;
}

.home-page .pages {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 74px;
    left: -9px;
    position: absolute;
    top: 86px;
    width: 86px;
}

.home-page .text-wrapper-7 {
    color: #ffffff;
    font-family: "Rubik-Medium", Helvetica;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.home-page .about-community {
    color: #ffffff;
    font-family: "Krub-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: 40px;
    position: absolute;
    top: 39px;
}

.home-page .subscribe {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 85px;
    left: 194px;
    position: absolute;
    top: 86px;
    width: 317px;
}

.home-page .name-wrapper {
    height: 59px;
    left: 198px;
    position: absolute;
    top: 152px;
    width: 317px;
}

.home-page .name {
    height: 60px;
    left: -4px;
    position: relative;
    top: -16px;
    width: 319px;
}

.home-page .overlap-group {
    border: 1px solid;
    border-color: #4d5682;
    border-radius: 100px;
    height: 60px;
    position: relative;
    width: 317px;
}

.home-page .text-wrapper-8 {
    color: #999999;
    font-family: "League Spartan-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 22px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 20px;
    white-space: nowrap;
}

.home-page .button-2 {
    all: unset;
    box-sizing: border-box;
    height: 60px;
    left: 180px;
    position: absolute;
    top: 251px;
    width: 303px;
}

.home-page .follow {
    align-items: center;
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    left: 183px;
    position: absolute;
    top: 20px;
    width: 151px;
}

.home-page .instagram-instance {
    height: 19.12px !important;
    margin-left: -0.83px !important;
    position: relative !important;
    width: 19.87px !important;
}

.home-page .facebook-instance {
    height: 19.12px !important;
    position: relative !important;
    width: 20.53px !important;
}

.home-page .twitter-instance {
    height: 20px !important;
    position: relative !important;
    width: 20px !important;
}

.home-page .linkdin-instance {
    height: 19.42px !important;
    position: relative !important;
    width: 19.42px !important;
}

.home-page .div-wrapper {
    all: unset;
    align-items: center;
    background-color: #7f0b0cbd;
    border-radius: 100px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    justify-content: center;
    left: 14px;
    padding: 19px 36px;
    position: absolute;
    top: 0;
    width: 124px;
}

.home-page .text-wrapper-9 {
    color: #ffffff;
    font-family: "Krub-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 21.6px;
    margin-left: -12px;
    margin-right: -12px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.home-page .logo {
    height: 525px;
    left: 0;
    position: absolute;
    top: 0;
    width: 172px;
}

.home-page .rectangle {
    height: 69px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 217px;
}

.home-page .p {
    color: #e7e7e7;
    font-family: "Krub-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: 24.2px;
    position: absolute;
    top: 129px;
    width: 319px;
}

.home-page .address-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 33px;
    left: 0;
    position: absolute;
    top: 211px;
    width: 319px;
}

.home-page .address {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 30px;
    position: relative;
    width: 227px;
}

.home-page .email {
    height: 63px;
    margin-right: -6px;
    position: relative;
    width: 233px;
}

.home-page .div-3 {
    color: #ffffff;
    font-family: "Krub-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 77px;
    letter-spacing: 0;
    line-height: 18.9px;
    position: absolute;
    top: 11px;
}

.home-page .text-wrapper-10 {
    color: #ffffff;
    font-family: "Krub-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 18.9px;
}

.home-page .icon {
    background-color: #101b55;
    border: 1px solid;
    border-color: #26326f;
    border-radius: 31.5px;
    height: 63px;
    left: 0;
    position: absolute;
    top: 0;
    width: 63px;
}

.home-page .vector-wrapper {
    background-image: url(../assets/call.svg);
    background-size: 100% 100%;
    height: 16px;
    left: 22px;
    position: relative;
    top: 22px;
    width: 21px;
}

.home-page .vector {
    height: 8px;
    left: 0;
    position: absolute;
    top: 0;
    width: 21px;
}

.home-page .call {
    height: 68px;
    position: relative;
    width: 202px;
}

.home-page .img {
    height: 18px;
    left: 22px;
    position: absolute;
    top: 20px;
    width: 19px;
}

.home-page .overlap-2 {
    height: 1327px;
    left: 0;
    position: absolute;
    top: 5666px;
    width: 1443px;
}

.home-page .image {
    height: 624px;
    left: 1px;
    position: absolute;
    top: 703px;
    width: 1442px;
}

.home-page .button-wrapper {
    background-image: url(../assets/photo.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 624px;
    width: 1439px;
}

.home-page .button-instance {
    background-image: url(../assets/background-5.png) !important;
    border-radius: 100px !important;
    height: 75px !important;
    left: 599px !important;
    top: 260px !important;
    width: 256px !important;
}

.home-page .design-component-instance-node {
    height: 27px !important;
    top: 23px !important;
    width: 209px !important;
}

.home-page .rectangle-2 {
    height: 704px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1440px;
}

.home-page .group-2 {
    height: 49px;
    left: 372px;
    position: absolute;
    top: 914px;
    width: 770px;
}

.home-page .text-wrapper-11 {
    color: #000000;
    font-family: "Asap-SemiBold", Helvetica;
    font-size: 36px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: 48.6px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 768px;
}

.home-page .text-wrapper-12 {
    color: #ffffff;
    font-family: "League Spartan-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    height: 132px;
    left: 471px;
    letter-spacing: 0;
    line-height: 54px;
    position: absolute;
    text-align: center;
    top: 583px;
    width: 500px;
}

.home-page .why-choose-us {
    height: 898px;
    left: -2px;
    position: absolute;
    top: 4768px;
    width: 1442px;
}

.home-page .overlap-3 {
    height: 898px;
    position: relative;
}

.home-page .background {
    background-color: #00106f;
    height: 898px;
    left: 2px;
    position: absolute;
    top: 0;
    width: 1440px;
}

.home-page .overlap-group-wrapper {
    height: 898px;
    left: 0;
    position: absolute;
    top: 0;
    width: 722px;
}

.home-page .overlap-group-2 {
    height: 898px;
    left: 2px;
    position: relative;
    width: 720px;
}

.home-page .background-2 {
    height: 898px;
    left: 0;
    position: absolute;
    top: 0;
    width: 699px;
}

.home-page .group-3 {
    height: 791px;
    left: 37px;
    position: absolute;
    top: 58px;
    width: 683px;
}

.home-page .rectangle-3 {
    height: 170px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 310px;
    width: 332px;
}

.home-page .rectangle-4 {
    height: 170px;
    left: 351px;
    object-fit: cover;
    position: absolute;
    top: 309px;
    width: 332px;
}

.home-page .rectangle-5 {
    height: 301px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 490px;
    width: 683px;
}

.home-page .rectangle-6 {
    height: 301px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 683px;
}

.home-page .content-3 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 61px;
    height: 618px;
    left: 758px;
    position: absolute;
    top: 143px;
    width: 660px;
}

.home-page .text {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 18px;
    position: relative;
    width: 494px;
}

.home-page .title {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12px;
    position: relative;
    width: 438px;
}

.home-page .sub-text {
    height: 23px;
    position: relative;
    width: 102px;
}

.home-page .pattern {
    background-color: #7f0b0c;
    height: 23px;
    left: 0;
    position: absolute;
    top: 0;
    width: 4px;
}

.home-page .text-2 {
    align-items: center;
    background-color: #e7e7e780;
    display: inline-flex;
    gap: 10px;
    left: 4px;
    padding: 3px 9px;
    position: absolute;
    top: 0;
}

.home-page .text-wrapper-13 {
    color: #1c1f35;
    font-family: "Rubik-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.home-page .text-wrapper-14 {
    color: #ffffff;
    font-family: "Rubik-SemiBold", Helvetica;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: 438px;
}

.home-page .text-wrapper-15 {
    color: #ffffff;
    font-family: "Asap-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 144px;
    letter-spacing: 0;
    line-height: 36.4px;
    margin-right: -170px;
    position: relative;
    width: 664px;
}

.home-page .features {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    gap: 72px;
    position: relative;
    width: 553px;
}

.home-page .element {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    width: 223px;
}

.home-page .element-2 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 12px;
    position: relative;
    width: 201px;
}

.home-page .img-wrapper {
    background-color: #7f0b0c;
    border-radius: 31.5px;
    height: 63px;
    position: relative;
    width: 63px;
}

.home-page .illustration-dream {
    height: 39px;
    left: 9px;
    position: absolute;
    top: 12px;
    width: 46px;
}

.home-page .text-wrapper-16 {
    color: #f7f8fd;
    font-family: "Rubik-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.home-page .element-3 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 12px;
    position: relative;
    width: 216px;
}

.home-page .illustration-product {
    height: 52px;
    left: 12px;
    position: absolute;
    top: 6px;
    width: 40px;
}

.home-page .element-4 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 12px;
    position: relative;
    width: 223px;
}

.home-page .img-2 {
    height: 40px;
    left: 12px;
    position: absolute;
    top: 12px;
    width: 40px;
}

.home-page .element-5 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    width: 258px;
}

.home-page .element-6 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 12px;
    position: relative;
    width: 220px;
}

.home-page .text-wrapper-17 {
    color: #ffffff;
    font-family: "Rubik-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.home-page .element-7 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 12px;
    position: relative;
    width: 199px;
}

.home-page .emoji-pencil {
    height: 41px;
    left: 11px;
    position: absolute;
    top: 12px;
    width: 41px;
}

.home-page .text-wrapper-18 {
    color: #fdfdff;
    font-family: "Rubik-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.home-page .element-8 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 12px;
    position: relative;
    width: 258px;
}

.home-page .icon-vr-virtual {
    height: 40px;
    left: 11px;
    position: absolute;
    top: 11px;
    width: 40px;
}

.home-page .text-wrapper-19 {
    color: #f4f6ff;
    font-family: "Rubik-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.home-page .services {
    height: 1898px;
    left: -2px;
    position: absolute;
    top: 2870px;
    width: 1444px;
}

.home-page .overlap-4 {
    background-color: #d9d9d9b0;
    height: 1898px;
    position: relative;
    width: 1442px;
}

.home-page .overlap-5 {
    height: 1743px;
    left: 13px;
    position: absolute;
    top: 49px;
    width: 1429px;
}

.home-page .overlap-6 {
    height: 1033px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1429px;
}

.home-page .group-4 {
    height: 682px;
    left: 29px;
    position: absolute;
    top: 239px;
    width: 832px;
}

.home-page .overlap-group-3 {
    background-image: url(../assets/rectangle-60.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 682px;
    position: relative;
    width: 830px;
}

.home-page .rectangle-7 {
    background-color: #14141496;
    border-radius: 50px;
    height: 682px;
    left: 0;
    position: absolute;
    top: 0;
    width: 830px;
}

.home-page .imagine-your-dream {
    color: #ffffff;
    font-family: "Asap-Bold", Helvetica;
    font-size: 96px;
    font-weight: 400;
    left: 53px;
    letter-spacing: 0;
    line-height: 129.6px;
    position: absolute;
    top: 38px;
    width: 502px;
}

.home-page .text-wrapper-20 {
    font-weight: 700;
}

.home-page .text-wrapper-21 {
    font-family: "Asap-Regular", Helvetica;
    font-size: 90px;
    line-height: 121.5px;
}

.home-page .overlap-wrapper {
    height: 794px;
    left: 886px;
    position: absolute;
    top: 239px;
    width: 505px;
}

.home-page .overlap-7 {
    background-image: url(../assets/rectangle-61.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 794px;
    position: relative;
    width: 503px;
}

.home-page .rectangle-8 {
    background-color: #14141496;
    border-radius: 50px;
    height: 794px;
    left: 0;
    position: absolute;
    top: 0;
    width: 503px;
}

.home-page .design-with-your {
    color: #ffffff;
    font-family: "Asap-Bold", Helvetica;
    font-size: 96px;
    font-weight: 400;
    left: 20px;
    letter-spacing: 0;
    line-height: 129.6px;
    position: absolute;
    top: 43px;
    width: 299px;
}

.home-page .imagine-design {
    color: transparent;
    font-family: "Asap-Bold", Helvetica;
    font-size: 110px;
    font-weight: 700;
    height: 244px;
    left: 0;
    letter-spacing: 0;
    line-height: 148.5px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1429px;
}

.home-page .text-wrapper-22 {
    color: #7f0b0c;
}

.home-page .text-wrapper-23 {
    color: #00106f;
}

.home-page .group-5 {
    height: 794px;
    left: 26px;
    position: absolute;
    top: 949px;
    width: 505px;
}

.home-page .overlap-8 {
    background-image: url(../assets/rectangle-62.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 794px;
    position: relative;
    width: 503px;
}

.home-page .visualize-your {
    color: #ffffff;
    font-family: "Asap-Bold", Helvetica;
    font-size: 96px;
    font-weight: 400;
    left: 14px;
    letter-spacing: 0;
    line-height: 129.6px;
    position: absolute;
    top: 45px;
    width: 489px;
}

.home-page .text-wrapper-24 {
    font-family: "Asap-Regular", Helvetica;
    font-size: 80px;
    line-height: 108px;
}

.home-page .group-6 {
    height: 682px;
    left: 572px;
    position: absolute;
    top: 1110px;
    width: 832px;
}

.home-page .overlap-9 {
    background-image: url(../assets/rectangle-63.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 682px;
    position: relative;
    width: 830px;
}

.home-page .share-your-designs {
    color: #ffffff;
    font-family: "Asap-Bold", Helvetica;
    font-size: 96px;
    font-weight: 400;
    left: 65px;
    letter-spacing: 0;
    line-height: 129.6px;
    position: absolute;
    top: 37px;
    width: 426px;
}

.home-page .overlap-10 {
    height: 2870px;
    left: -12px;
    position: absolute;
    top: 0;
    width: 1454px;
}

.home-page .USER-DESIGNS {
    height: 1840px;
    left: 0;
    position: absolute;
    top: 1030px;
    width: 1454px;
}

.home-page .overlap-11 {
    height: 1840px;
    position: relative;
    width: 1452px;
}

.home-page .background-3 {
    background-color: #d9d9d9b0;
    height: 1840px;
    left: 12px;
    position: absolute;
    top: 0;
    width: 1440px;
}

.home-page .illustration-VR {
    height: 189px;
    left: 1062px;
    position: absolute;
    top: 1629px;
    width: 193px;
}

.home-page .group-7 {
    height: 1235px;
    left: 32px;
    position: absolute;
    top: 315px;
    width: 1398px;
}

.home-page .rectangle-9 {
    height: 303px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 932px;
    width: 554px;
}

.home-page .rectangle-10 {
    height: 313px;
    left: 844px;
    object-fit: cover;
    position: absolute;
    top: 289px;
    width: 554px;
}

.home-page .rectangle-11 {
    height: 277px;
    left: 844px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 554px;
}

.home-page .rectangle-12 {
    height: 602px;
    left: 585px;
    object-fit: cover;
    position: absolute;
    top: 630px;
    width: 813px;
}

.home-page .rectangle-13 {
    height: 277px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 630px;
    width: 554px;
}

.home-page .rectangle-14 {
    height: 602px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 813px;
}

.home-page .text-wrapper-25 {
    color: #00106f;
    font-family: "Asap-Bold", Helvetica;
    font-size: 80px;
    font-weight: 700;
    height: 193px;
    left: 0;
    letter-spacing: 0;
    line-height: 108px;
    position: absolute;
    text-align: center;
    top: 118px;
    width: 1430px;
}

.home-page .button-3 {
    background-image: url(../assets/background-4.png) !important;
    border-radius: 100px !important;
    height: 80px !important;
    left: 562px !important;
    position: absolute !important;
    top: 1755px !important;
}

.home-page .button-4 {
    height: 29px !important;
    top: 25px !important;
}

.home-page .banner {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 12px;
    position: absolute;
    top: 0;
    width: 1440px;
}

.home-page .backgroound {
    height: 1050px;
    position: relative;
    width: 1440px;
}

.home-page .button-5 {
    background-image: url(../assets/background-3.png) !important;
    border-radius: 100px !important;
    left: 141px !important;
    position: absolute !important;
    top: 525px !important;
}

.home-page .menu {
    height: 78px;
    left: 12px;
    position: absolute;
    top: 0;
    width: 1440px;
}

.home-page .background-4 {
    height: 78px;
    left: 54px;
    position: absolute;
    top: -107px;
    width: 1440px;
}

.home-page .menu-2 {
    align-items: center;
    display: flex;
    gap: 277px;
    left: 340px;
    position: absolute;
    top: 0;
    width: 648px;
}

.home-page .menu-wrapper {
    height: 78px;
    position: relative;
    width: 504px;
}

.home-page .menu-3 {
    height: 27px;
    position: relative;
    top: 28px;
    width: 741px;
}

.home-page .overlap-group-4 {
    height: 27px;
    position: relative;
}

.home-page .line-2 {
    background-color: #ffffff;
    height: 2px;
    left: 0;
    position: absolute;
    top: 24px;
    width: 48px;
}

.home-page .menu-4 {
    align-items: center;
    display: flex;
    gap: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 741px;
}

.home-page .text-wrapper-26 {
    color: #ffffff;
    font-family: "League Spartan-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 27px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.home-page .about-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 12px;
    position: relative;
}

.home-page .line-3 {
    height: 27px;
    margin-left: -1px;
    object-fit: cover;
    position: relative;
    width: 1px;
}

.home-page .about-instance {
    left: 22px !important;
    position: absolute !important;
    top: 0 !important;
}

.home-page .support-2 {
    align-items: center;
    display: inline-flex;
    gap: 12px;
    left: 171px;
    position: absolute;
    top: 0;
}

.home-page .support-instance {
    left: 21px !important;
    position: absolute !important;
    top: 1px !important;
}

.home-page .community-2 {
    align-items: center;
    display: inline-flex;
    gap: 12px;
    left: 280px;
    position: absolute;
    top: 1px;
}

.home-page .community-instance {
    position: absolute !important;
    top: 0 !important;
}

.home-page .download-2 {
    height: 27px;
    left: 415px;
    position: absolute;
    top: 0;
    width: 125px;
}

.home-page .line-4 {
    height: 27px;
    left: -1px;
    object-fit: cover;
    position: absolute;
    top: 2px;
    width: 1px;
}

.home-page .download-instance {
    left: 21px !important;
    position: absolute !important;
    top: 0 !important;
}

.home-page .contact-US {
    align-items: center;
    display: inline-flex;
    gap: 12px;
    left: 540px;
    position: absolute;
    top: 0;
}

.home-page .line-5 {
    height: 28.67px;
    margin-left: -1px;
    object-fit: cover;
    position: relative;
    width: 1px;
}

.home-page .contact-us-instance {
    height: 28.67px !important;
    left: unset !important;
    top: unset !important;
}

.home-page .follow-2 {
    align-items: center;
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    left: 713px;
    position: absolute;
    top: 29px;
    width: 151px;
}

.home-page .group-10 {
    left: 913px !important;
    position: absolute !important;
    top: 16px !important;
}

.home-page .UNLOCK-THE-DOOR-TO-BOUNDLESS-CREATIVITY {
    left: 135px !important;
    top: 175px !important;
}

.home-page .rectangle-15 {
    height: 69px;
    left: 96px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 217px;
}

.home-page .text-wrapper-27 {
    color: #7f0b0b;
    font-family: "Rubik-Bold", Helvetica;
    font-size: 64px;
    font-weight: 700;
    height: 109px;
    left: 382px;
    letter-spacing: 0;
    line-height: 86.4px;
    position: absolute;
    text-align: center;
    top: 2644px;
    width: 620px;
}

.home-page .text-wrapper-28 {
    color: #001386;
    font-family: "Rubik-SemiBold", Helvetica;
    font-size: 40px;
    font-weight: 600;
    height: 71px;
    left: 248px;
    letter-spacing: 0;
    line-height: 54px;
    position: absolute;
    text-align: center;
    top: 2723px;
    width: 887px;
}
