.LOGIN {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.LOGIN .overlap-wrapper {
    background-color: #ffffff;
    height: 1050px;
    width: 1440px;
}

.LOGIN .overlap {
    height: 1050px;
    position: relative;
}

.LOGIN .material-symbols {
    height: 24px;
    left: 708px;
    position: absolute;
    top: 513px;
    width: 24px;
}

.LOGIN .overlap-group-wrapper {
    height: 1050px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
}

.LOGIN .banner {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
}

.LOGIN .backgroound {
    height: 1050px;
    position: relative;
    width: 1440px;
}

.LOGIN .button-instance {
    background-image: url(../assets/background-2.png) !important;
    border-radius: 100px !important;
    left: 129px !important;
    position: absolute !important;
    top: 525px !important;
}

.LOGIN .menu {
    background-image: url(../assets/background.svg);
    background-size: 100% 100%;
    height: 78px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
}

.LOGIN .menu-2 {
    align-items: center;
    display: flex;
    gap: 277px;
    left: 340px;
    position: relative;
    width: 648px;
}

.LOGIN .menu-wrapper {
    height: 78px;
    position: relative;
    width: 504px;
}

.LOGIN .div-wrapper {
    height: 27px;
    position: relative;
    top: 28px;
    width: 741px;
}

.LOGIN .overlap-group {
    height: 27px;
    position: relative;
}

.LOGIN .line {
    background-color: #ffffff;
    height: 2px;
    left: 0;
    position: absolute;
    top: 24px;
    width: 48px;
}

.LOGIN .menu-3 {
    align-items: center;
    display: flex;
    gap: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 741px;
}

.LOGIN .text-wrapper-8 {
    color: #ffffff;
    font-family: "League Spartan-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 27px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.LOGIN .about-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 12px;
    position: relative;
}

.LOGIN .img {
    height: 27px;
    margin-left: -1px;
    object-fit: cover;
    position: relative;
    width: 1px;
}

.LOGIN .about-instance {
    left: 22px !important;
    position: absolute !important;
    top: 0 !important;
}

.LOGIN .support-2 {
    align-items: center;
    display: inline-flex;
    gap: 12px;
    left: 171px;
    position: absolute;
    top: 0;
}

.LOGIN .support-instance {
    left: 21px !important;
    position: absolute !important;
    top: 1px !important;
}

.LOGIN .community-2 {
    align-items: center;
    display: inline-flex;
    gap: 12px;
    left: 280px;
    position: absolute;
    top: 1px;
}

.LOGIN .community-instance {
    position: absolute !important;
    top: 0 !important;
}

.LOGIN .download-2 {
    height: 27px;
    left: 415px;
    position: absolute;
    top: 0;
    width: 125px;
}

.LOGIN .line-2 {
    height: 27px;
    left: -1px;
    object-fit: cover;
    position: absolute;
    top: 2px;
    width: 1px;
}

.LOGIN .download-instance {
    left: 21px !important;
    position: absolute !important;
    top: 0 !important;
}

.LOGIN .contact-US {
    align-items: center;
    display: inline-flex;
    gap: 12px;
    left: 540px;
    position: absolute;
    top: 0;
}

.LOGIN .line-3 {
    height: 28.67px;
    margin-left: -1px;
    object-fit: cover;
    position: relative;
    width: 1px;
}

.LOGIN .contact-us-instance {
    height: 28.67px !important;
    left: unset !important;
    top: unset !important;
}

.LOGIN .follow {
    align-items: center;
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    left: 713px;
    position: absolute;
    top: 29px;
    width: 151px;
}

.LOGIN .instagram-instance {
    height: 19.12px !important;
    margin-left: -0.83px !important;
    position: relative !important;
    width: 19.87px !important;
}

.LOGIN .facebook-instance {
    height: 19.12px !important;
    position: relative !important;
    width: 20.53px !important;
}

.LOGIN .twitter-instance {
    height: 20px !important;
    position: relative !important;
    width: 20px !important;
}

.LOGIN .property-1-default {
    height: 19.42px !important;
    position: relative !important;
    width: 19.42px !important;
}

.LOGIN .group-10 {
    left: 913px !important;
    position: absolute !important;
    top: 16px !important;
}

.LOGIN .UNLOCK-THE-DOOR-TO-BOUNDLESS-CREATIVITY {
    left: 123px !important;
    top: 175px !important;
}

.LOGIN .rectangle {
    background-color: #09124240;
    height: 1050px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
}

.LOGIN .rectangle-2 {
    background-color: #c2ccd4f2;
    border-radius: 100px;
    height: 823px;
    left: 139px;
    position: absolute;
    top: 123px;
    width: 1211px;
}

.LOGIN .group-2 {
    height: 68px;
    left: 732px;
    position: absolute;
    top: 507px;
    width: 461px;
}

.LOGIN .overlap-2 {
    background-color: #ffffff;
    border-radius: 100px;
    height: 68px;
    position: relative;
    width: 459px;
}

.LOGIN .text-wrapper-9 {
    color: #0000006b;
    font-family: "Asap-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 31px;
    letter-spacing: 0;
    line-height: 32.4px;
    position: absolute;
    top: 17px;
    white-space: nowrap;
    width: 143px;
}

.LOGIN .group-3 {
    height: 68px;
    left: 732px;
    position: absolute;
    top: 406px;
    width: 461px;
}

.LOGIN .text-wrapper-10 {
    color: #0000006b;
    font-family: "Asap-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 31px;
    letter-spacing: 0;
    line-height: 32.4px;
    position: absolute;
    top: 17px;
    white-space: nowrap;
    width: 121px;
}

.LOGIN .text-wrapper-11 {
    color: #7f0b0cbd;
    font-family: "Asap-Bold", Helvetica;
    font-size: 55px;
    font-weight: 700;
    left: 732px;
    letter-spacing: 0;
    line-height: 74.3px;
    position: absolute;
    top: 197px;
    width: 578px;
}

.LOGIN .rectangle-3 {
    height: 823px;
    left: 90px;
    object-fit: cover;
    position: absolute;
    top: 123px;
    width: 607px;
}

.LOGIN .rectangle-4 {
    height: 49px;
    left: 848px;
    position: absolute;
    top: 608px;
    width: 227px;
}

.LOGIN .group-8 {
    background-image: url(../assets/rectangle-89-2.svg) !important;
    height: 49px !important;
    left: 848px !important;
    position: absolute !important;
    top: 608px !important;
    width: 227px !important;
}

.LOGIN .group-instance {
    left: 58px !important;
    width: 111px !important;
}

.LOGIN .don-t-have-an-account-sign-up {
    left: 732px !important;
    position: absolute !important;
    top: 291px !important;
}

.LOGIN .vector-instance {
    height: 21px !important;
    left: 1283px !important;
    position: absolute !important;
    top: 154px !important;
    width: 23px !important;
}

.LOGIN .rectangle-5 {
    height: 69px;
    left: 82px;
    object-fit: cover;
    position: absolute;
    top: 6px;
    width: 217px;
}
